*.log
*.jou
NA
*.dot
tta_core_imem_mau*
vivado_pid*
*.wcfg
*.wdb
*.protoinst
*.tpef
*.img
*.tpef.S
*.opb
overlay_alveou280
passed_final_timing.txt
ip_repo_*
*.xclbin*
rtl_vecadd
*.ltx
*.xo
ip_cache*
vivado_*
vitis_*
embeddedMetadata*.xml
emconfig.json
*.csv
xrt.run_summary
vecadd_hls*.zip
vec_hls*.zip
_x.*
.Xil
build/
